<form class="contact-form" name="contact" netlify-honeypot="human-check" data-netlify="true" method="post">
  <p><label for="name">Name: <input type="text" name="name" id="name" /></label></p>
  <p><label for="subject">Subject: <input type="text" name="subject" id="subject" /></label></p>
  <div class="contact-information-wrapper">
    <label for="contact-information">Contact Information:
    <textarea class="contact-information" name="contact-information" id="contact-information"></textarea>
    </label>
  </div>
  <div class="question-comment-wrapper">
    <label for="question-comment">Question or Comment:
    <textarea class="question-comment" name="question-comment" id="question-comment"></textarea>
    </label>
  </div>
  <div>
        <label>Don’t add your website here, if you’re human: <input id="human-check" name="human-check" type="text" /></label>
  </div>
  <p><input type="submit" value="Send" size="6" /> <input type="reset" value="Reset" size="6" /></p>
</form>
